<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994143003163-vejch33lhso3fm9c8vp03b1539ublt8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994143003163-vejch33lhso3fm9c8vp03b1539ublt8h</string>
	<key>API_KEY</key>
	<string>AIzaSyDuwIPduWT6J3rLzI5piPAs0b_I9qLof90</string>
	<key>GCM_SENDER_ID</key>
	<string>994143003163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttermasterclass.arch-template.dev</string>
	<key>PROJECT_ID</key>
	<string>apostletec-arch-template</string>
	<key>STORAGE_BUCKET</key>
	<string>apostletec-arch-template.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994143003163:ios:647a327bbbded5b26f4ebe</string>
</dict>
</plist>